/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2018, 7:41:46 PM
    Author     : hagig
*/
body{
    background-color: whitesmoke;
}
.navbar{
    background-color: #555;
    overflow: hidden;
}
.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 20px;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
.banner{
    height: 150px;
}
.main-body{
    height: 100%;
}
.bottom{
    width: 10000px;
    height: 100px;
    background-color: #555;
}
#body-content{
   vertical-align: top;
}

