/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2018, 7:19:59 PM
    Author     : hagig
*/
body{
    background-color: red;
}
#body{
    list-style: none;
}
#body-content h1{
    text-align: center;
    
}
#sep_line{
    background-color: red;
}
#buy_button:hover{
    background-color: red;
    border:2px solid red;
}
#clear_button:hover{
    background-color: red;
    border:2px solid red;
}
input[type=button] {
    padding:5px; 
    background-color: #E82C0C;
    border:2px solid red; 
    border-radius: 10px;
}
input[type=button]:hover{
    background-color: grey;
    border:2px solid black;
}
.the_chef{
    position: relative;
    display: inline-block;
}
.the_chef .chef_says {
    visibility: hidden;
    font-size: 22px;
    width: 110px;
    color: red;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border-color: black;
    border-width:10px;
    
    position: absolute;
    z-index: 0;
}
.the_chef:hover .chef_says{
    visibility: visible;
}