/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2018, 7:19:59 PM
    Author     : hagig
*/
body{
    background-color: red;
}
#body{
    list-style: none;
}
#body-content h1{
    text-align: center;
    
}
.the_chef{
    position: relative;
    display: inline-block;
}
.the_chef .chef_says {
    visibility: hidden;
    width: 110px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border-color: black;
    border-width:10px; 
    border-style:dotted;
    
    position: absolute;
    z-index: 0;
}
.the_chef:hover .chef_says{
    visibility: visible;
}